<nz-layout class="app-layout">
  <app-header></app-header>
  <nz-content>
    <div class="inner-content">
      <div
        class="filter flex_row flex_center_certical flex_around flex_wrap flex_100"
      >
        <form class="filter flex_20" style="background-color: #fff">
          <nz-list nzBordered style="position: sticky; top: 0">
            <nz-list-header
              class="h3 flex_row flex_between flex_center_vertical"
              >Filtros
              <button
                nz-button
                nzType="dashed"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Borrar Filtros"
                (click)="resetFilter()"
              >
                <i nz-icon nzType="close"></i>
              </button>
            </nz-list-header>
            <nz-collapse>
              <nz-collapse-panel
                class="animate__animated animate__bounceInLeft"
                nzHeader="Fabricante"
                [nzActive]="true"
                [nzDisabled]="false"
              >
                <nz-radio-group
                  [(ngModel)]="marca"
                  name="marca"
                  class="flex_column"
                >
                  <label nz-radio nzValue="todas" (click)="filterList()"
                    >Todas</label
                  >
                  <label nz-radio nzValue="Ryzen" (click)="filterList()"
                    >AMD</label
                  >
                  <label nz-radio nzValue="Intel" (click)="filterList()"
                    >Intel</label
                  >
                </nz-radio-group>
              </nz-collapse-panel>
            </nz-collapse>
            <nz-collapse>
              <nz-collapse-panel
                class="animate__animated animate__bounceInLeft"
                nzHeader="Categoría"
                [nzActive]="true"
                [nzDisabled]="false"
              >
                <nz-radio-group
                  [(ngModel)]="catProd"
                  name="catProd"
                  class="flex_column"
                >
                  <label nz-radio nzValue="todas" (click)="filterList()"
                    >Todas</label
                  >
                  <label nz-radio nzValue="3" (click)="filterList()">3</label>
                  <label nz-radio nzValue="5" (click)="filterList()">5</label>
                  <label nz-radio nzValue="7" (click)="filterList()">7</label>
                  <label nz-radio nzValue="9" (click)="filterList()">9</label>
                </nz-radio-group>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-list>
        </form>
        <div class="catalog flex_row flex_center_certical flex_wrap flex_80">
          <app-card-prod
            *ngFor="let prod of lstProducts_show"
            [prod]="prod"
          ></app-card-prod>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
